<footer class="bg-white text-white pt-4 pb-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning"><img src="assets/img/logo.svg"
                                                                                   class="img-fluid" /></h5>
                <p><a class="text-secondary">Marque consultas com segurança, de onde estiver e
                    quando quiser com os melhores profissionais de saúde do mercado.</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                <h5 class="clinica" class="text-capitalize mb-4 font-weight-bold">Clínicas</h5>
                <p>
                    <a href="#" class="text-secondary">Login</a>
                </p>
                <p>
                    <a href="#" class="text-secondary">Registro</a>
                </p>
                <p>
                    <a href="#" class="text-secondary">Planos</a>
                </p>
                <p>
                    <a href="#" class="text-secondary" style=>FAQ</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="pacientes" class="text-capitalize mb-4 font-weight-bold text-info">Pacientes</h5>
                <p>
                    <a href="#" class="text-secondary">Login</a>
                </p>
                <p>
                    <a href="#" class="text-secondary">Registro</a>
                </p>
                <p>
                    <a href="#" class="text-secondary">Marcar consulta</a>
                </p>
                <p>
                    <a href="#" class="text-secondary">FAQ</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="contatos" class="text-capitalize mb-4 font-weight-bold text-info">Contatos</h5>
                <p>
                    <i class="fas fa-map-marker mr-3 text-se text-secondary"></i><a class="text-secondary">Endereço</a>
                </p>
                <p>
                    <i class="fas fa-envelope mr-3 text-secondary"></i><a class="text-secondary">(00) 0000-0000</a>
                </p>
                <p>
                    <i class="fas fa-phone mr-3 text-secondary"></i><a class="text-secondary">E-mail</a>
                </p>

            </div>

        </div>
        <div class="border-linha"></div>
        <hr class="mb-4">

        <div class="row align-items-top">

            <div class="col-md-5 col-lg-8 text-secondary copyright-footer">
                <p>©2021 appoint Todos os direitos reservados.
                    <a href="#">
                        <strong class="text-info"></strong></a>
                </p>

            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">

                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <p style="font-size: 12px"><a href="#" class="text-secondary btn-footer">Termos e
                                condições</a></p>
                        </li>
                        <li class="list-inline-item">
                            <p><a href="#" class="text-secondary btn-footer">Política
                                de privacidade</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
