<footer class="bg-white text-white pt-4 pb-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 col-md-12 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning text-lg-start"><img src="assets/img/logo.svg"
                                                                                                 class="img-logo"></h5>
                <p class='text-start'><a class="text-secondary">Marque consultas com segurança, de onde estiver e
                    quando quiser com os melhores profissionais de saúde do mercado.</a></p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

                <h3 class="text-start clinica" class="text-capitalize mb-4 font-weight-bold">Para Clínicas</h3>
                <ul class='p-0'>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Login</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Registro</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Planos</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h3 class="text-start pacientes" class="text-capitalize mb-4 font-weight-bold text-info">Para Pacientes</h3>
                <ul class='p-0'>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Login</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Registro</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">Planos</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#">FAQ</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                <h3 class="text-start contatos" class="text-capitalize mb-4 font-weight-bold text-info">Contatos</h3>
                <ul class='p-0'>
                    <li class='mb-2 text-start'><a class='text-footer' href="#"><img class='me-4' src='assets/img/end_vetor.svg'>Endereço</a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#"><img class='me-3' src='assets/img/tel_vetor.svg'>00 0000-0000</a></a></li>
                    <li class='mb-2 text-start'><a class='text-footer' href="#"><img class='me-3' src='assets/img/email_vetor.svg'>endereçodeemail@email.com</a></a></li>
                </ul>
            </div>

        </div>
        <div class="border-linha"></div>
        <hr class="mb-4">

        <div class="row align-items-top">

            <div class="col-md-5 col-lg-8 text-secondary copyright-footer">
                <p class='text-start'>©2021 appoint Todos os direitos reservados.
                    <a href="#">
                        <strong class="text-info"></strong></a>
                </p>

            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">

                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <small><a href="#" class="text-secondary btn-footer">Termos e
                                condições</a></small>
                        </li>
                        <li class="list-inline-item">
                            <p><a href="#" class="text-secondary btn-footer">Política
                                de privacidade</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
