<header id="header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="#">
                <img src="assets/img/logo.svg" class = 'img-logo'>
            </a>

            <button class="navbar-toggler nav-collapse-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class='nav-link text-center d-none' id='id_especialista_paciente'>
                        <a class='btn-link active btn-help'>ENCONTRE ESPECIALISTA</a>
                    </li>
                    <li class="nav-link text-center">
                        <a class="btn-link active btn-help" aria-current="page" href="#">AJUDA</a>
                    </li>
                    <li class="nav-link">
                        <button class="btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" type="button">Entrar</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header d-block d-md-none">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-2 p-md-5">
                    <div class="container">
                        <form id="user-login">
                            <div class="form-floating mb-3">
                                <input name="email" type="text" class="form-control" id="floatingInputEmail" placeholder="E-mail">
                                <label for="floatingInputEmail">E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                                <label for="floatingPassword">Senha</label>
                            </div>
                            <div class="row mb-3">
                                <div class="col-7">
                                    <a class="btn btn-link text-muted" aria-current="page" href="#">Esqueceu sua senha?</a>
                                </div>
                                <div class="col-5">
                                    <div class="d-flex flex-row-reverse">
                                        <button class="btn btn-primary">Entrar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="text-muted text-center mb-2">Não tem cadastro?</span>
                                <div class="col-12 d-flex justify-content-center">
                                    <a href="./cadastro-paciente.html">
                                        <button class="btn btn-secondary" type="button">Cadastre-se</button>
                                    </a>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="form-separator">ou</div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-facebook" type="button">Entre com o Facebook</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-google" type="button">Entre com o Google</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="./assets/js/forms/login.js"></script>
</header>
