<div class="p-0 container-fluid">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="./index.html">
        <img src="./assets/img/logo.svg" class='img-logo'>
      </a>

      <button class="navbar-toggler nav-collapse-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class='nav-link text-center btn-especialista' id='id_especialista_paciente'>
            <a class="btn-link active btn-help" aria-current="page" href="#">ENCONTRAR ESPECIALISTA</a>
          </li>
          <li class="nav-link text-center">
            <a class="btn-link active btn-help" aria-current="page" href="#">AJUDA</a>
          </li>
          <li class="nav-link img-notification ms-2">
            <a class="btn-link active btn-notification d-none d-md-block"
               aria-current="page" href="#"><span class="material-icons-outlined md-36">notifications</span></a>
          </li>
          <li class="nav-link dropdown">
            <a class="btn-link active btn-user d-none d-md-block" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false"
               href="#"><img class="rounded-circle" width="48" src="./media/profile/default.png" alt=""></a>
               <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li class="dropdown-item-text" data-username></li>
                <li><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons-outlined me-2">settings</span> <span>Configurações</span></a></li>
                <li data-logout><a class="dropdown-item d-flex align-items-center" href="#"><span class="material-icons-outlined me-2">logout</span> <span>Sair</span></a></li>
              </ul>
          </li>
          <li class="nav-link text-center">
            <a class="btn-link active user-colapse d-block d-md-none mt-0"
               aria-current="page" href="#">
              <p class='text-uppercase'>Configurações</p>
            </a>
          </li>
          <li class="nav-link text-center">
            <a class="btn-link active notification-colapse d-block d-md-none mt-0"
               aria-current="page" href="#">
              <p class='text-uppercase'>Notificações</p>
            </a>
          </li>
          <li class="nav-link text-center">
            <a class="btn-link active notification-colapse d-block d-md-none mt-0"
               aria-current="page" href="#">
              <p class='text-uppercase'>Sair</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script type="module" src="./assets/js/logged.js"></script>
</div>
