<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasDate">
  <div class="offcanvas-header">
    <input type="text" placeholder="Quando?" class="form-control text-uppercase" disabled>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="row">
      <div class="col-12 col-md-6 m-auto">
        <div id="calendar-date"></div>
      </div>
    </div>
  </div>
</div>
