<div>
    <div class="input-group">
        <input id="date" type="text" placeholder="Quando?" class="form-control text-uppercase" aria-label="Calendário">
        <label for="date" class="input-group-text"><span class="material-icons-outlined">edit_calendar</span></label>
    </div>
    <input name="date" type="hidden" value="" />
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasDate">
        <div class="offcanvas-header">
            <input type="text" placeholder="Quando?" class="form-control text-uppercase" disabled>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body small">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div style="" id="calendar-date"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="./assets/js/forms/date.js"></script>
</div>
