<div class="col-12 col-lg-6 d-flex">
  <img width="128" src="./media/profile/default.png" class="img-fluid rounded-5 me-3">
  <div class="d-flex flex-column w-100 justify-content-center justify-content-lg-start">
    <button class="btn-sm btn-primary mb-2 d-flex justify-content-center align-items-center" type="button">Foto de perfil <span class="material-icons-outlined ms-2">cloud_upload</span></button>
    <small class="text-center text-md-start">Tamanho de imagem recomendado é de 100 x 100px</small>
  </div>
</div>
