<div class="d-grid gap-2">
    <button type="button" class="btn btn-sidebar" id="painel-clinica">Painel <span class="material-icons-outlined">monitor</span></button>
    <button type="button" class="btn btn-sidebar" id="agenda-clinica">Agenda <span class="material-icons-outlined">calendar_today</span></button>
    <button type="button" class="btn btn-sidebar" id="notificacao-clinica">Notificações <span class="material-icons-outlined">notifications</span></button>
    <button type="button" class="btn btn-sidebar" id="agendamentos-clinica">Agendamentos <span class="material-icons-outlined">edit_calendar</span></button>
    <button type="button" class="btn btn-sidebar" id="especialistas-clinica">Especialistas <span class="material-icons-outlined">manage_accounts</span></button>
    <button type="button" class="btn btn-sidebar" id="planos-clinica">Gerenciar Planos <span class="material-icons-outlined">settings</span></button>
    <script src="../assets/js/btn-clinic-config.js"></script>
</div>
