<!--Siderbar botões laterais-->
<div class="col-12">
        <div class="btn-group-vertical">
            <button type="button" id='btn-perfil'
                class="btn btn-menu-bar text-uppercase">perfil</button>
            <button type="button" id='btn-agenda'
                class="btn btn-menu-bar text-uppercase text-left">agenda</button>
            <button type="button" id='btn-notificacao'
                class="btn btn-menu-bar text-uppercase text-left">notificações</button>
            <button type="button" id='btn-agendamento'
                class="btn btn-menu-bar btn-menu-bar-disabled text-uppercase text-left disabled">agendamentos</button>
            <button type="button" id='btn-especialista'
                class="btn btn-menu-bar text-uppercase text-left">especialistas</button>
            <button type="button" id='btn-planos'
                class="btn btn-menu-bar text-uppercase text-left">gerenciar
                planos</button>
        </div>
    </div>
<!--// Siderbar botões laterais -->