<div class="d-grid gap-2">
    <button type="button" class="btn btn-sidebar">Perfil <span class="material-icons-outlined">monitor</span></button>
    <button type="button" class="btn btn-sidebar">Agenda <span class="material-icons-outlined">calendar_today</span></button>
    <button type="button" class="btn btn-sidebar">Notificações <span class="material-icons-outlined">notifications</span></button>
    <button type="button" class="btn btn-sidebar active">Agendamentos <span class="material-icons-outlined">edit_calendar</span></button>
    <button type="button" class="btn btn-sidebar">Especialistas <span class="material-icons-outlined">manage_accounts</span></button>
    <button type="button" class="btn btn-sidebar">Gerenciar Planos <span class="material-icons-outlined">settings</span></button>
</div>
