<div class="d-grid gap-2">
    <button type="button" class="btn btn-sidebar" id="perfil-paciente">Perfil <span class="material-icons-outlined">manage_accounts</span></button>
    <button type="button" class="btn btn-sidebar" id="agenda-paciente">Agenda <span class="material-icons-outlined">calendar_today</span></button>
    <button type="button" class="btn btn-sidebar" id="historico-paciente">Histórico <span class="material-icons-outlined">schedule</span></button>
    <script src="../assets/js/btn-patient-config.js"></script>
</div>
