<div class="d-grid gap-2">
    <button type="button" class="btn btn-sidebar">Perfil <span class="material-icons-outlined">manage_accounts</span></button>
    <button type="button" class="btn btn-sidebar">Agenda <span class="material-icons-outlined">calendar_today</span></button>
    <button type="button" class="btn btn-sidebar">Pacientes <span class="material-icons-outlined">person</span></button>
    <button type="button" class="btn btn-sidebar">Consultas <span class="material-icons-outlined">medical_services</span></button>
</div>
