
  /* MAX MEDIUM Header*/
@media (max-width: 991.98px) {

  #header .navbar-collapse {
    width: 100%;
  }
  #contato .email img {
    width: 90px;
    top: -40px;
  }
  .btn-primary, .btn-secondary{
    width: 100%;
  }
  .btn-help{
    padding-left: 45%;
  }

}
@media(max-width: 768px){
  .paragrafo-card{
    max-width: 50%;
    margin-left: 25%;
  }
  .btn-help{
    padding-left: 0;
  }
  .container-card-bottom{
    background: transparent;
  }
}

@media(max-width:576px){
  .paragrafo-card{
    display: none;
  }
  .text-center-title{
    display: block;
  }
  h1{
    font-size: 2rem;
  }
}
