
<!--Siderbar botões laterais-->
<div data-partial="sidebar-clinic">
     <div class="d-grid gap-2">
        <button type="button"class="btn btn-primary">PERFIL</button>
        <button type="button"class="btn btn-primary">AGENDA</button>
        <button type="button"class="btn btn-primary">NOTIFICAÇÕES</button>
        <button type="button"class="btn btn-primary">AGENDAMENTOS</button>
        <button type="button"class="btn btn-primary">ESPECIALISTAS</button>
        <button type="button"class="btn btn-primary">GERENCIAR PLANOS</button>
        </div>
        </div>
<!--// Siderbar botões laterais -->             
                            