/* Cores */
:root{
    --primary: #489082;
    --secondary: #B6E6D6;
    --tertiary: #FF6340;
    --primary-dark: #B6E7D6;
    --text-footer:#808080;
    --hover-btnUser: #d1cece;
    --text: #1A1A1A;
}
