/* Gerais */
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--text);
}

.text-primary {
    color: var(--primary) !important;
}

.text-tertiary {
    color: var(--tertiary) !important;
}

hr{
    color: var(--primary);
}
a, .btn-link {
    text-decoration: none;
}

.link {
    color: var(--tertiary);
}

a:hover, .btn-link:hover {
    color: inherit;
}

.img-logo{
    height: 48px;
}

/* fonts */

h1,h2,h3,b,.btn-sm,pre{
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
}

h4,i,small{
    font-style: normal;
    font-weight: 500;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.5rem;
    letter-spacing: -0.02em;
}


i{
    font-style: italic;
}

small{
    font-size: 0.75rem;
}


pre{
    font-size: 12px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

/* NavBar */
#header {
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

.nav-link .btn-link {
    font-size: 12px;
    color: var(--primary);
}

.nav-collapse-button{
    background-color: var(--primary);
}

.nav-collapse-button>p{
    font-weight: bold;
    color: white;
    margin: 0px;
    letter-spacing: 0.04em;
}

/* Botões */

.text-center-header{
    margin-top: 0;
}

.img-notification{
    padding-top: 12px;
    padding-right: 0!important;
    padding-left: 0!important;
}

.btn-help-header,.btn-help-clinic{
    font-weight: 700!important;
    margin-top: 0;
}

.btn-help,.btn-notification,.btn-user,.btn-especialista{
    margin-left: 0.5rem;
    font-weight: 700;
}

.btn-secondary {
    color: var(--primary);
    background-color: transparent;
    border: solid 1px;
    border-radius: 8px;
    height: 40px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--primary);
    border: transparent;
    border-radius: 8px;
    height: 40px;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--secondary);
}

/* Slider */

main #slider-image {
    background-image: url(../img/doctor.png);
    background-size: cover;
    background-position: center;
}
main .header-slider {
    padding-top: 8px;
    background-color: var(--primary);
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
}
#slider-image .row:nth-child(1) .header-slider > h1 {
    margin-right: 10rem;
}
#slider-image .row:nth-child(2) .header-slider > h1 {
    margin-right: 5rem;
}
main #fields-search-container {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(153, 153, 153, 0.25);
    border-radius: 16px;
}

#fields-search-container input {
    border: none;
}

/* Pré Footer */

.container-p-footer{
    background-color: var(--secondary)
}

.container-card-bottom{
    border-radius: 16px;
    background: url(../img/Card-bottom.png);
    background-size: cover;
}

.img-card-bottom{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.btn-card-bottom{
    background-color: var(--tertiary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}
.btn-card-bottom>p{
    margin: 0px;
}

.text-1{
    background-color: var(--primary);
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

.text-1>h3{
    margin-bottom: 0px;
    font-weight: bold;
}

.text-2{
    background-color: rgba(153, 153, 153, 0.25);;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

/* Footer */

.img-logo-footer{
    height: 48px;
}

.footer-container{
    padding: 0;
}

.footer-promo{
    padding: 0;
}

footer li {
    list-style-type: none;
    color: var(--text);
    margin-bottom: .5rem;
}

footer li:not(.list-unstyled):before {
    content:"·";
    margin: 0 .5rem;
    vertical-align:middle;
    line-height:20px;
}

footer a {
    color: var(--text);
}

footer a:hover {
    color: var(--primary);
}

.text-secondary{
    text-decoration: none;
}

.btn-footer,.copyright-footer{
    font-size: 12px;
}

.copyright-footer{
    padding-top: 0.2%;
}

#copyright {
    font-size: 12px;
    text-decoration: none;
}

/* Cadastro */
.presentation-paciente, .presentation-clinica {
    width: 100%;
    margin-right: 5rem;
    height: 360px;
    background-size: cover;
}

.presentation-paciente {
    background-image: url(../img/cad-paciente.png);
}

.presentation-clinica{
    background-image: url(../img/cad-clinica.png);
}

.form-header .link {
    line-height: 40px;
    font-size: 12px;
}

.form-floating {
    font-weight: 100;
}

.form-floating input, .form-floating select {
    border-color: #EAEFEE;
    background: #EAEFEE;
}

.form-floating label {
    font-size: 16px;
    color: #808080;
}

.form-separator {
    color: #C4C4C4;
    font-size: 16px;
    font-weight: normal;
}

.form-separator:before,
.form-separator:after {
    background-color: #C4C4C4;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: calc(50% - 1em);
}

.form-separator:before {
    right: 0.5em;
}

.form-separator:after {
    left: 0.5em;
}

.btn-facebook, .btn-google {
    position: relative;
    border-radius: 8px;
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.btn-facebook {
    color: #ffffff;
    background: #3A559F;
}

.btn-facebook:before, .btn-google:before {
    width: 32px;
    height: 32px;
    left: 4px;
    top: 8px;
    content: '';
    position: absolute;
}

.btn-google {
    color: #808080;
    background: #DFDFDF;
}

.btn-facebook:before {
    background: #ffffff url(../img/facebook.svg);
}

.btn-google:before {
    left: 8px;
    background: url(../img/google.svg);
}

/* Dropdown */

.dropdown-menu>li>a{
    color: var(--primary);
}

.dropdown-menu>li>a:hover{
    background-color: var(--secondary);
}

.dropdown ul.dropdown-menu{
    border-radius:8px;
    box-shadow:none;
    min-width: 200px;
    transform: translate3d(-50%, 0px, 0px) !important;
}

.page-header {
    background-color: var(--primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #ffffff;
    background-repeat: repeat-y;
    background-position: center;
}

.faq h3 {
    margin-bottom: 2rem;
}

.page-header.header-bg {
    background-image: url(../img/header-bg.png);
}

.input-search {
    margin-bottom: 2rem;
}

.input-search input:focus {
    background: #F2F2F2;
}

.input-search input, .input-search .input-group-text {
    background: #F2F2F2;
}

.form-check label {
    line-height: 24px;
}

.card {
    transition: all .3s ease-in-out;
}

.card:hover {
    border-color: var(--primary);
}

/* Telas de usuário */

.btn-sidebar {
    border-radius: .5rem;
    border-color: var(--text);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-sidebar.active {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #ffffff;
}

.btn-sidebar:not(.active):hover {
    border-color: var(--primary);
    color: var(--primary);
}

.card-patient {
    border: solid transparent;
}

.faq .btn-light {
    min-height: 3rem;
}

.faq .list-group-item {
    color: var(--primary);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
