/* Gerais */
body {
    font-family: 'Montserrat', sans-serif;
}

a, .btn-link {
    text-decoration: none;
}

a:hover, .btn-link:hover {
    color: inherit;
}

/* NavBar */
#header {
    background-color: transparent;
}

#header .navbar-collapse {
    width: auto;
}

.nav-link .btn-link {
    font-size: 12px;
    color: var(--primary);
    line-height: 40px;
}

/* Botões superiores */

.btn-secondary {
    color: var(--primary);
    background-color: transparent;
    border: solid 1px;
    border-radius: 8px;
    height: 40px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--primary);
    border: transparent;
    border-radius: 8px;
    height: 40px;
    text-transform: uppercase;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--secondary);
}

/* Slider */

main #slider-image {
    height: 631px;
    background-image: url(../img/doctor.png);
    background-size: cover;
    background-position: center;
}
main .header-slider {
    padding-top: 8px;
    background-color: var(--primary);
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
}
#slider-image .row:nth-child(1) .header-slider > h1 {
    margin-right: 10rem;
}
#slider-image .row:nth-child(2) .header-slider > h1 {
    margin-right: 5rem;
}
main #fields-search-container {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(153, 153, 153, 0.25);
    border-radius: 16px;
}

.in-button-spc, .in-button-loc, .in-button-dat {
    background-color: white;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.in-button-spc {
    background-image: url(../img/search.svg);
}

.in-button-loc {
    background-image: url(../img/loc.svg);
}

.in-button-dat {
    background-image: url(../img/dat.svg);
}

/* Cards Centrais */
#border {
    border-bottom: 0.4px #B6E7D6 solid;
    margin-bottom: -40px;
  }
  
  #cards a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
  }
  #cards a.destaque:hover{
    background: #fff;
    box-shadow:  0px 0px 10px 0px #B6E7D6;
    transform: scale(1.05);
  }
  #cards p {
    color: #479082;
  }
  #cards a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 200px;
  }
  #cards a.destaque .img-container img {
    max-height: 160px;
  }

/* Pré Footer */

.container-p-footer{
    background-color: var(--secondary);
}

.img-p-footer{
    
    border-radius:8px;
}

.btn-botton{
    background-color: var(--tertiary);
    border: transparent;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
}

.text-1{

    background-color: var(--primary);
    border-radius: 8px;
    text-transform: uppercase;
}

.text-2{
    background-color: rgba(153, 153, 153, 0.25);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

/* Footer */

footer h5 {
    color: var(--primary);
}

#copyright {
    font-size: 12px;
    text-decoration: none;
}
