
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }

  /*button-Header*/
  .button {
    text-transform: lowercase;
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .button-primary {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .button-primary:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
  }

  .button-primary-outline {
    border-color: var(--primary);
    color: var(--primary);

  }

  .button-primary-outline:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
  }
  .border-linha {
    border-bottom: 0.4px #B6E7D6 solid;
    margin-bottom: -40px;
  }
  .clinica{
    color: #479082;
  }
  .pacientes{
   color: #479082;
  }
  .contatos{
    color: #479082;
  }
  .img-fluid{
    max-width: 100%;
    height: auto;
  }

  /*Inicio Cards*/

  a{
    color: var(--primary);
  }
  a:hover{
    color: var(--primary-light);
  }

  .rounded-5 {
    border-radius: .5rem !important;
  }

  .rounded-10 {
    border-radius: 1rem !important;
  }

  .form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .btn-link {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--primary);
  }
