/*Reset*/
*{
  margin: 0;
  padding: 0;
}

/*Inicio Cards*/

a{
  color: var(--primary);
}

a:hover{
  color: var(--primary-light);
}

.rounded-5 {
  border-radius: .5rem !important;
}

.rounded-10 {
  border-radius: 1rem !important;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn {
  border-radius: .5rem;
  text-transform: uppercase;
}

.btn-link {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary);
  display: block;
}

nav.navbar {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.btn {
  border-radius: .5rem;
}

input:not(.form-floating input, .form-check-input) {
  text-transform: uppercase;
  height: 3rem;
  border-radius: .5rem;
}

.btn-light {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
}

.btn-light:hover {
  color: var(--text);
}

.btn-tertiary {
  background-color: var(--tertiary);
  color: #ffffff;
}

.list-group {
  border-radius: .5rem;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}

.material-icons-outlined.md-24 {
  font-size: 24px;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

.material-icons-outlined.md-48 {
  font-size: 48px;
}

.btn-tool {
  line-height: 0;
  padding: .5rem;
  border-color: var(--light-gray);
  background-color: var(--light-gray);
  color: #2B5EAB;
}

.btn-tool:hover {
  background-color: #2B5EAB;
}

.btn-tool.success {
  color: #57BD90;
}

.btn-tool.success:hover {
  background-color: #57BD90;
}

.btn-tool.danger {
  color: #E63C3C;
}

.btn-tool.danger:hover {
  background-color: #E63C3C;
}

.btn-tool.secondary {
  color: var(--text);
}

.btn-tool.secondary:hover {
  background-color: var(--text);
}

.btn-tool:hover {
  color: #ffffff;
}

.input-group input {
  border-radius: .5rem 0 0 .5rem;
  height: 4rem;
}

.input-group input:focus {
  border: none;
  box-shadow: none;
}

.input-group .input-group-text {
  background-color: #ffffff;
  border-radius: 0 .5rem .5rem 0;
  color: var(--text);
}

.input-group input, .input-group .input-group-text {
  border-width: 0;
}

.btn-outline-primary, .btn-outline-primary.disabled {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  border-color: var(--primary);
  background-color: var(--primary);
}

.table thead {
  color: var(--primary);
}

.table>:not(:first-child) {
  border-top: 1px solid var(--light-gray);
}

.table tbody {
  color: var(--text);
}

.pagination .page-link {
  padding: 1rem;
}

.page-link:not(.disabled) {
  color: var(--primary);
}

.page-item.active .page-link {
  border-color: var(--primary);
  background-color: var(--primary);
}

.page-subheader {
  padding: .5rem;
  border-radius: .5rem;
  text-align: center;
  background-color: var(--primary-light);
  color: var(--primary);
}

.btn-categories .btn {
  padding: 1.5rem;
  width: 100%;
  height: auto;
}

.btn-categories .btn.active {
  background-color: var(--primary-light);
  color: var(--primary);
}

.breadcrumb-item a {
  color: var(--text);
}

.breadcrumb-item a:hover {
  color: var(--primary);
}

.card {
  position: initial;
}

.card-header {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--bs-white);
}

.card.rounded-5 .card-header {
  border-radius: calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
}

.offcanvas {
  border-radius: 1rem 1rem 0 0;
  padding: 0 .5rem;
}

.offcanvas-bottom {
  height: 95vh;
}

.offcanvas-header input {
  height: 4.5rem !important;
  margin-right: 1rem;
  background: #F2F2F2;
}

.offcanvas-body li {
  border-radius: .5rem;
  border: 1px solid var(--light-gray);
  padding: 1rem;
}

.offcanvas-body a li {
  color: var(--text);
}

.offcanvas-body a li:hover {
  color: var(--primary);
}

.offcanvas-body li:hover {
  border-color: var(--primary);
}

/* Fullcalendar */

.fc-header-toolbar {
  padding: 0 1.5rem 0 1.5rem;
}

.fc-toolbar-title {
  font-size: 2.5rem !important;
}

.fc-theme-standard .fc-scrollgrid, .fc-theme-standard td, .fc-theme-standard th  {
  border: none;
}

.fc-daygrid-day-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fc-daygrid-day-events {
  display: none;
}

.fc-col-header-cell-cushion {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.fc-day-today {
  background: transparent !important;
}

.fc-today-button {
  text-transform: uppercase !important;
}

.fc-daygrid-day-number {
  width: 3rem;
  height: 3rem;
  line-height: 2.5rem;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  color: black;
  cursor: pointer;
}

.fc-daygrid-day-number:hover {
  color: var(--primary);
}

.fc-day-today .fc-daygrid-day-number {
  color: var(--primary);
}

.fc td.disabled .fc-daygrid-day-number {
  color: var(--text);
  cursor: default;
}

.fc td.selected .fc-daygrid-day-number {
  color: white;
  background: var(--primary);
  border-radius: 3rem;
}
