/*Reset*/
*{
  margin: 0;
  padding: 0;
}

/*Inicio Cards*/

a{
  color: var(--primary);
}

a:hover{
  color: var(--primary-light);
}

.rounded-5 {
  border-radius: .5rem !important;
}

.rounded-10 {
  border-radius: 1rem !important;
}

.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-link {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--primary);
  display: block;
}

nav.navbar {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.btn {
  border-radius: .5rem;
}

input:not(.form-floating input, .form-check-input) {
  text-transform: uppercase;
  height: 3rem;
  border-radius: .5rem;
}

.btn-light {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
}

.btn-light:hover {
  color: var(--text);
}

.list-group {
  border-radius: .5rem;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}

.material-icons-outlined.md-24 {
  font-size: 24px;
}

.material-icons-outlined.md-36 {
  font-size: 36px;
}

.material-icons-outlined.md-48 {
  font-size: 48px;
}

.btn-tool {
  line-height: 0;
  padding: .5rem;
  border-color: var(--light-gray);
  background-color: var(--light-gray);
  color: #2B5EAB;
}

.btn-tool:hover {
  background-color: #2B5EAB;
}

.btn-tool.success {
  color: #57BD90;
}

.btn-tool.success:hover {
  background-color: #57BD90;
}

.btn-tool.danger {
  color: #E63C3C;
}

.btn-tool.danger:hover {
  background-color: #E63C3C;
}


.btn-tool:hover {
  color: #ffffff;
}
