<!doctype html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet">
    <title>Appoint | Marque a sua consulta</title>
  </head>

  <body>
    <!-- Navbar -->
    <header id="header">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="#">
            <img src="../assets/marca 1.svg" height="36">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!--<span class="navbar-toggler-icon">Menu</span> -->
            Menu
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-link">
                <a class="nav-link active " aria-current="page" href="#"
                  style="font-size: 12px; line-height: 15px; color: var(--primary); margin-top: 5px;">AJUDA</a>
              </li>
              <li class="nav-link">
                <button class="btn-sm btn-outline-primary" id="nav-buttom1" type="button">Button</button>
              </li>
              <li class="nav-link">
                <button class="btn-sm btn-primary" id="nav-buttom2" type="button">Button</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- //Navbar -->
    <!-- Slider -->
    <main>
      <div class="container-fluid">


      </div>
    </main>
    <!-- //Slider -->

    <!-- Footer -->
    <footer class="bg-white text-white pt-5 pb-4">

      <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning"><img src="../assets/marca 1.svg"
                class="img-fluid" /></h5>
            <p><a class="text-secondary">Marque consultas com segurança, de onde estiver e quando quiser com os melhores
                profissionais de saúde do mercado.</a></p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

            <h5 class="text-capitalize mb-4 font-weight-bold">
              <font color="#479082">Clínicas</font>
            </h5>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Login</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Registro</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Planos</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">FAQ</a>
            </p>

          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-capitalize mb-4 font-weight-bold text-info">
              <font color="#479082">Pacientes</font>
            </h5>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Login</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Registro</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">Marcar consulta</a>
            </p>
            <p>
              <a href="#" class="text-secondary" style="text-decoration: none;">FAQ</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-capitalize mb-4 font-weight-bold text-info">
              <font color="#479082">Contatos</font>
            </h5>
            <p>
              <i class="fas fa-map-marker mr-3 text-se text-secondary"></i><a class="text-secondary">Endereço</a>
            </p>
            <p>
              <i class="fas fa-envelope mr-3 text-secondary"></i><a class="text-secondary">(00) 0000-0000</a>
            </p>
            <p>
              <i class="fas fa-phone mr-3 text-secondary"></i><a class="text-secondary">E-mail</a>
            </p>

          </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-top">

          <div class="col-md-5 col-lg-8 text-secondary">
            <p style="font-size: 12px">©2021 Appoint Todos os direitos reservados:
              <a href="#" style="text-decoration: none;">
                <strong class="text-info"></strong></a>
            </p>

          </div>

          <div class="col-md-5 col-lg-4">
            <div class="text-center text-md-right">

              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <p style="font-size: 12px"><a href="#" class="text-secondary" style="text-decoration: none;">Termos e
                      condições</a></p>
                </li>
                <li class="list-inline-item">
                  <p style="font-size: 12px"><a href="#" class="text-secondary" style="text-decoration: none;">Política
                      de privacidade</a></p>
                </li>
              </ul>
            </div>
          </div>
    </footer>
    <!-- //Footer -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
  </body>

</html>